body{
    background-color: antiquewhite;
    margin: 120px;
}

.parent{
    background-color: lightblue;
    height: 400px;
    width: 100%;
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: start; */
    /* justify-content: end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
    /* ------------------------- */
        /* align-items: flex-end; */
    align-items: center; 
    justify-content: end; 

}

.child{
    background-color: lightcoral;
    height: 100px;
    width: 100px;
}

.child2{
    background-color: lightgreen;
    height: 300px;
    width: 150px;
}